@font-face {
    font-family: digital-7;
    src: url(font.ttf);
  }
:root{
    --orange: #ffc877;
    --border-radius: 15px;
}
*{
    font-family: digital-7;
    color: black;
    font-size: 1.5rem;
}
#calculator{
    width: 600px;
    height: auto;
    margin: auto;
    background-color: lightgray;
    border-bottom: 5px solid black;
    border-radius: var(--border-radius);
    padding-bottom: 10px;
}
#heading{
    text-align: center;
    margin: auto auto;
    text-transform: uppercase;
}
#display{
    border-top: 5px solid black;
    width: 95%;
    height: 100px;
    background-color: lightslategrey;
    border-radius: var(--border-radius);
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: end;
}
#expression{
    font-family: digital-7;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 0;
    word-wrap: break-word;
    overflow: hidden;
}

#btn-container{
    height: 400px;
    width: 95%;
    margin: 10px auto;
    border-radius: var(--border-radius);
    background-color: lightsalmon;
    display: flex;
    flex: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.button{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 15%;
    width: 20%;
    background-color: white;
    box-shadow: 5px 5px 5px lightslategrey;
    border-radius: var(--border-radius);

}
.animate-btn{
    background-color: var(--orange);
    transform: translate(2px,2px);
    box-shadow: 1px 1px 1px black;
    transition: translate .1s , box-shadow .1s , background-color  .1s;
}
.button:hover{
    background-color: var(--orange);
    transition: background-color .5s;
}
.credits{
    text-align: right;
    font-size: 1.2rem;
    font-family: montserrat;
}